@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

.form-div{
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0px;
    width: 360px;
    height: 688px;

    font-family: 'Nunito';
    font-style: normal;
}

.text-form{
    width: auto;
    height: 27px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 27px;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.input-text{
    box-sizing: border-box;

    position: relative;
    width: 100%;
    height: 28px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border: 1px solid #A05496;
    border-radius: 5px;
    outline: none;
}

.input-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;

    width: 359px;
    height: auto;

    font-size: 1.6rem;
}

.error{
    width: auto;
    height: 16px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    color: #E36363;
}

.form-data-div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    /* position: absolute;
    width: 983px;
    height: 689px;
    left: calc(50% - 983px/2 - 0.5px);
    top: 180px; */

    width: 983px;
    height: 689px;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.submit-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    outline: none;
    margin-top: -18px;
    margin-bottom: 50px; /* Temporary Fix while fixing Footer */

    width: 359px;
    height: 75px;

    background: #249D57;
    border-radius: 5px;
    border: none;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    color: white;
}

.input-datepicker{
    border: none;
    outline: none;
    box-shadow: none;
    caret-color: transparent;
    cursor: default;

    width: 196px;
    height: 33px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

#select-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: light;
    font-size: 16px;
    line-height: 19px;
}

.product-img{
    width: 100%;
    height: 100%;
    /* background: url(./assets/1.png); */
    /* background: url(1.png); */
    object-fit: cover;
}

.pimg-container{
    width: 604px;
    height: 604px;
    border-radius: 5px;
    overflow: hidden;
}

.customerPreviewPic{
    max-width: 550px;
    max-height: 550px;
}


.product-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;
    margin: -2px 0px;

    width: auto;
    height: 33px;
}

#product-name{
    width: auto;
    height: 33px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    color: #A05496;
}

.calendar-class{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    isolation: isolate;

    width: 36px;
    height: 36px;

    background: #A05496;
    border-radius: 5px;

    order: 1;
}

.calendar-icon{
    position: relative;
    width: 24px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
}

.calendar-vector{
    position: relative;
    left: 12.5%;
    right: 12.5%;
    top: 4.17%;
    bottom: 12.5%;

    background: #FFFFFF;
}

.date-picker{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 242px;
    height: 36px;
}

.class-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;

    width: 359px;
    height: 62px;
}

.delivery-opt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: auto;
    height: 100px;
}

.delivery-mode{
    display: flex;
    flex-direction: column;
    align-items: none;
    padding: 0px;
    gap: 10px;

    width: 360px;
    height: auto;
}

.delivery-select{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;

    width: 360px;
    height: auto;
}

.dedication-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 359px;
    height: 53px;

}
.q-icon{
    width: 20px;
    height: 20px;
    /* background: #A05496; */
}

.mode{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 4px;
    gap: 2px;

    width: 89px;
    height: 30px;

    background: #A05496;
    border-radius: 5px;
    color: white;

    outline: none !important;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.mode option{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.order-text{
    box-sizing: border-box;

    height: 89px;
    width: 360px;
    resize: none;

    background: white;
    border: 1px solid #A05496;
    border-radius: 5px;
}

.product-selection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 604px;
    height: 604px;
}

.product-opt{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 550px;
    height: 75px;
}

.options{
    width: 75px;
    height: 75px;

    background: url(./assets/Rectangle\ 10.jpg);
    border-radius: 5px;
}

.hov1:hover{
    border: 4px solid #A05496;
}

.hov2:hover{
    border: 4px solid #A05496;
}

.hov3:hover{
    border: 4px solid #A05496;
}

.hov4:hover{
    border: 4px solid #A05496;
}

.hov5:hover{
    border: 4px solid #A05496;
}

.hov6:hover{
    border: 4px solid #A05496;
}

.date-text{
    width: auto;
    height: 27px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-top: auto;
    margin-bottom: auto;

    color: #000000;

}

.date-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;

    width: auto;
    height: 27px;
}

.date-class{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-bottom: -4px;

}

.date-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: auto;
    height: 36px;

    position: relative;
    bottom: 6px;
}

#error-date{
    /* margin-top: -10px; */
    margin-top: 5px;
}

#req-field{
    color: #E36363;
    margin-left: -4px;
}

.q-mark{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px #000;

    display: inline-flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: #000;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    z-index: 1;

    opacity: 0;
    transition: opacity 1s ease-in-out;
    cursor: default;
}

#q-date:hover + #q-text{
    opacity: 1;
}

#q-mode:hover + #q-pickup{
    opacity: 1;
}

.img-container{
    display: flex;
    width: 59px;
    height: 32px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-shrink: 0;

    border-radius: 5px;
    background: #A05496;

    color: #FFF;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: default;

    z-index: 1;
}

#img-button{
    position: relative;
    cursor: pointer;
    bottom: 37px;
    left: 297px;
}

#img-button input{
    position: absolute;
    width: 59px;
    height: 32px;

    opacity: 0;
}

.other-note{
    width: auto;
    height: 16px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

.spacer{

    display: flex;
    text-align: center;
    justify-content: center;

    flex-grow: 1;
}
