<div id="header">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/order">Order</a></li>
        <li><a href="#">Login</a></li>
    </ul>
</div>