.product-carousel{
        height: 100%;
        width: 80%;
}


.product-carousel-slide{
        max-height: 100%;
        width: auto;
}


.carousel-inner{

        max-height: 100%;
        max-width: 100%;
        object-fit: cover;

        display: flex;
        align-items: center;
}

.carousel-item{
        display: flex;
        align-items: center;
}

.carousel-img{
        width: 100%;
        height: 100%;
        /* filter: brightness(65%); */
        object-fit: cover;
}
