.homepage-div{
        overflow-x: hidden;
}

.carousel-div{
        width: 100vw;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(160, 84, 150, 0.05);
}

.home-section {
    height: 500px;
    padding: 0 40px 0 40px;

    font-size: 2em;
    font-family: var(--font-family);

    display: flex;
    align-items: center;
}

.contact-location-info{
        /* background-color: aqua; */

        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
}

.contact-info{
        height: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
}

.contacts{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 50%;

        font-family: var(--font-family);
        font-style: normal;
        font-weight: 700;
        font-size: 3vh;
        line-height: 4vh;

        color: #A05496;
}

.contact-link{
        cursor: pointer;
}

.image-deco{
        height: 100%;
        width: 50%;
}

.link-image-deco{
        position: relative;
        right: 20vw;
        bottom: 15vh;
        height: 200%;
        width: 200%;
        z-index: -1;
        object-fit: contain;
}

.homepage-products{
        min-height: 90%;
        min-width: 100vw;

        background-color: rgba(160, 84, 150, 0.05);
        margin-bottom: 10vh;
}

.location{
        height: 100%;
        width: 50%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        float: right;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 700;
        font-size: 3vh;
        line-height: 4vh;

        color: #FFFFFF;
}

.feedback{
        width: 100vw;
        height: 70vh;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0 5%;
}

.customer-name{
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 700;
        font-size: 3.5vh;
        line-height: 4vh;

        color: #A05496;
}

.review{
        width: 50%;

        margin-left: 15vh;
        padding: 2.5vh 0;

        font-family: var(--font-family);
        font-style: normal;
        font-weight: 600;
        font-size: 3vh;
        line-height: 4vh;

        color: #A05496;
}

.feedback-header{
        width: 50%;

        margin-left: 15vh;
        padding-top: 5vh;

        font-family: 'Nunito';
        font-style: normal;
        font-size: 4em;
        font-weight: 800;
        line-height: 4vh;

        color: #000000;
}

.featured-product-info{
        height: 100%;
        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 8vw;
}

.featured-product-name{
        font-size: 2em;
        font-weight: 800;
}

.featured-product-order-button{
        height: 5vh;
        width: 5vw;

        font-size: 0.6em !important;
        background-color: #A05496 !important;
        border: none !important;
}

.featured-product-image{
        height: 100%;
        width: 50%;
        background-image: url('./assets/balloongirl-nobg.png');
        background-repeat: no-repeat;
        background-position: center;
}

