@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

.home-div{
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;

        display: flex;
        flex-direction: column;
}

.carousel-div{
        min-width: 100vw;
        min-height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(160, 84, 150, 0.05);
}

.homepage-divider{
        width: 100vw;
        min-height: 0.5vh;
        background-color: #A05496;
}

.contact-location-info{
        /* background-color: aqua; */

        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
}

.contact-info{
        height: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
}

.contacts{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 50%;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 3vh;
        line-height: 4vh;

        color: #A05496;
}

.contact-link{
        cursor: pointer;
}

.image-deco{
        height: 100%;
        width: 50%;
}

.link-image-deco{
        position: relative;
        right: 20vw;
        bottom: 15vh;
        height: 200%;
        width: 200%;
        z-index: -1;
        object-fit: contain;
}

.homepage-products{
        min-height: 90%;
        min-width: 100vw;

        background-color: rgba(160, 84, 150, 0.05);
        margin-bottom: 10vh;
}

.location{
        height: 100%;
        width: 50%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        float: right;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 3vh;
        line-height: 4vh;

        color: #FFFFFF;
}

.feedback{
        width: 100vw;
        height: 70vh;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0 5%;
}

.customer-name{
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 3.5vh;
        line-height: 4vh;

        color: #A05496;
}

.review{
        width: 50%;

        margin-left: 15vh;
        padding: 2.5vh 0;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 3vh;
        line-height: 4vh;

        color: #A05496;
}

.feedback-header{
        width: 50%;

        margin-left: 15vh;
        padding-top: 5vh;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 5vh;
        line-height: 4vh;

        color: #000000;
}

.featured-product{
        width: 100vw;
        min-height: 70vh;

        padding-left: 10vw;
        padding-right: 10vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
}

.featured-product-text{
        min-width: 50%;
        height: 100%;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 5vh;
        line-height: 4vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
}

.featured-bottom-text{
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 2vh;
        line-height: 2vh;
}

.featured-bold-text{
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 800;
        font-size: 5.5vh;
        line-height: 3vh;
}

.featured-order-button{
        width: fit-content;
        background-color: #A05496 !important;
        border: none !important;

        font-family: 'Nunito' !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 2vh !important;
}

.featured-product-img{
        min-width: 25%;
        height: 100%;
}

.featured-img{
        height: 100%;
        width: 100%;
        object-fit: contain;
}
