.custom-navbar {
    background-color: var(--accent-main);
    height: 75px;
    width: 100vw;
}

#company_brand {
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--font-family);

    display: flex;
    align-items: center;
    gap: 16px;
}

#company_logo {
    width: 48px;
    height: 48px;
}

.nav-options {
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--font-family);

    float: right;

    display: flex;
    align-items: center;
    gap: 4px;
}

.custom_navlink {
    color: var(--white) !important;
}
