@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

.right-aligned{
       justify-content: flex-end;
}

#nav_bar{
        position: sticky;
        top: 0;
        z-index: 100;
}

#company_logo{
        width: 5vh;
        height: 5vh;
        margin-right: 2vw;
        border: transparent;
}

#company_brand{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1.5vw;
}

.custom-navbar{
        background-color: #A05496;
        width: 100vw;
        height: 3vw;
}

.custom_navlink{
        font-family: 'Nunito' ;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 2vh !important;
        line-height: 3vh !important;
        color: #ffffff !important;
}

#nav_container{
        width: 100vw;
        height: 3vw;
}
