@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

.about-us-div{
        height: 100vh;
        width: 100vw;
}

.about-us-header{
        height: 60vh;
        width: 100vw;

        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 87px;
        color: #FFFFFF;

        background-color: black;

        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/01_Top_Banner.jpg');
        background-size: 100% 100%;
        background-position: center;
}

.about-us-divider{
        height: 1.2vh;
        width: 100vw;

        background-color: #A05496;
}

.about-us-content{
        height: 50vh;
        width: 100vw;
        display: flex;

        min-height: 20vh;
}

.about-us-text{
        height: 100%;
        flex-grow: 1;

        display: flex;
        align-items: center;
        padding: 5vh;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 3vh;
        line-height: 4vh;
}

.about-us-banner{
        height: 60vh;
        width: 100vw;

        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 87px;
        color: #FFFFFF;

        background-color: black;

        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/02_Bottom_Banner.jpg');
        background-size: 100% 100%;
        background-position: center;
}

.about-us-banner-text{
        margin: 5vh;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 3vh;
        line-height: 4vh;
        color: #FFFFFF;
}

.about-us-image{
        height: 80%;
        width: 40%;
        padding: 0;
        margin: 5vh;
}

.image-right{

        flex-direction: row;
        background-color: white;
}

.image-left{

        flex-direction: row-reverse;
        background-color: #FAF6F9;
}

.about-us-img{
        height: 100%;
        width: 100%;
        object-fit: contain;
}
