.about-us-header {
    color: var(--white);
    background-color: var(--black); /* temp; remove when background image is final */
    height: 419px;

    font-size: 64px;
    font-weight: bold;
    font-family: var(--font-family);

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-section {
    height: 500px;
    padding: 0 40px 0 40px;

    font-size: 2em;
    font-family: var(--font-family);

    display: flex;
    align-items: center;
}

.gray-bg {
    background-color: var(--dp1-gray);
}

.img-bg {
    color: var(--white);
    background-color: var(--black); /* change when images are final */
}

.about-us-content {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-us-image {
    background-color: #C2C2C2;

    width: 485px;
    height: 302px;
}
