.footer-container {
    background-color: var(--accent-main-light);
    margin-top: auto;

    width: 100%;
    height: 132px;
}

.footer-body {
    color: var(--accent-main);
    height: 100%;
    padding: 40px;;

    font-size: 1.6rem;
    line-height: 1.6rem;
    font-family: var(--font-family);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav-links {
    display: flex;
    gap: 32px;
    cursor: pointer;
}

.footer-company-name{
    cursor: pointer;
}
