.footer-div{
        min-width: 100vw;
        min-height: 15vh;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(160, 84, 150, 0.05);
}

.footer-text{
        width: 90%;
        height: 35%;

        display: flex;
        flex-direction: row;
}

.footer-company-name{
        display: flex;
        align-items: center;

        height: 100%;
        width: 50%;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 2vh;
        line-height: 2vh;

        cursor: pointer;
        color: #A05496;
}

.footer-nav-options{
        height: 100%;
        width: 50%;

        display: flex;
        flex-direction: row-reverse;
        gap: 1vw;
        align-items: center;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 2vh;
        line-height: 2vh;

        color: #A05496;
}

.footer-options{
        cursor: pointer;
}
