@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.datelist-div{
        width: 1275px;
        height: 896px;

        background: #FFFFFF;
        border-radius: 10px;
}

.month-div{
        margin: auto;
        display: flex;

        width: 450px;
        height: 87px;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 87px;

        color: #A05496;
}

.prev-month-arrow{
        width: 64px;
        height: 87px;
}

.month-name{
        margin: auto;
        width: 350px;
        height: 87px;
}

.next-month-arrow{
        width: 64px;
        height: 87px;
}

.month-label{
        text-align: center;
}

.datelist-divider{
        margin: auto;
        width: 1225px;
        height: 2px;

        background: #D9D9D9;
}

.year-label{
        margin: auto;
        width: 56px;
        height: 28px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;

        color: #A05496;
}

.year{
        text-align: center;
}

.daylist{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
}
