.product-catalog-div{
        display: flex;
        flex-direction: column;
}

.product-header-div{
        text-align: center;
        margin: 20vh 0;

        font-family: var(--font-family);
        font-style: normal;
        font-weight: 700;
        font-size: 5vh;
        line-height: 3vh;

        color: #000000;
}

.product-item-list-div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: center;
        margin: 0 10vw;
}
