@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

.popupDesc-div{
        height: 10vw;
        width: 20vw;
        margin-top: 2vh;
        background-color: #DD7ED1;
        border-radius: 2vh;

        font-family: 'Nunito';
        font-weight: 700;
        font-size: 2vh;

        padding: 5%;
        overflow: scroll;
        color: #FFFFFF;

        border: 1% solid rgba(122, 122, 122, 0.01);
        filter: drop-shadow(0 0 0.5vh #000000);
}
