@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

.product-container{
        width: 25vw;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 10vh;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
}

.image-div{
        height: 360px;
        width: 360px;
        border-radius: 5px;
}

.name-div{
        width: 100%;
        height: fit-content;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;

        text-align: center;

        overflow-wrap: break-word;
}

.product-image{
        border-radius: 10px;
        height: 100%;
        width: 100%;
        object-fit: contain;
}

.cost-div{
        width: 140px;
        height: 27px;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        text-align: center;

        color: #000000;

        overflow: auto;
        white-space: nowrap;
}

.order-button{
        width: 90px;
        height: 53px;

        font-family: 'Nunito' !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 24px !important;
        line-height: 33px !important;

        text-align: center;
        color: #FFFFFF;
        background-color: #A05496 !important;
        border: none !important;
}
