.contact-us {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contact-us-header {
    color: var(--white);
    background-color: var(--black); /* temp; remove when background image is final */
    height: 419px;

    font-size: 64px;
    font-weight: bold;
    font-family: var(--font-family);

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us-body {
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
}

.contact-us-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contact-us-item-name {
    margin: 0;

    font-size: 2.4rem;
    line-height: 4rem;
    font-weight: bold;
    font-family: var(--font-family);
}

.contact-us-divider {
    width: 500px;
    height: 2px;
    background-color: var(--black);
}

.contact-us-item-info {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-us-item-detail {
    display: flex;
    align-items: center;
    gap: 8px;

}

.contact-us-item-detail .text,
.contact-us-item-detail a {
    color: var(--black);
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-family: var(--font-family);
}

.contact-us-item-detail a:hover {
    color: var(--accent-main);
}

.contact-us-icon {
    width: 32px;
    height: 32px;
}

.filler {
    flex-grow: 1;
}
