.calendar-div{
        width: 1536px;
        height: 1024px;
        z-index: 200;
}

.top-bar{
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        width: 1313px;
        height: 88px;
        left: 223px;
        top: 0px;

        background: #A05496;
}

.calendar-dates{
        position: absolute;
        width: 1313px;
        height: 936px;
        left: 223px;
        top: 88px;

        background-color: #F5EBF4;
        border-radius: 5px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}

.calendar-exit-button{
        background-color: #DCBCD8 !important;
        border: none !important;
        height: 50px;
        width: 150px;

        color: #A05496;
        font-family: var(--font-family) !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 32px !important;
        line-height: 44px !important;
}
